{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}
  <div class="container">
      <h2 class="title">Create Post</h2>
      <form method="post" enctype="multipart/form-data" class="create-post-form">
          {% csrf_token %}
          {{ post_form }}
          {{ image_form }}
          <button type="submit" class="btn btn-primary">Create Post</button>
      </form>
  </div>
  {% block extrascripts %}
  {% endblock extrascripts %}

{% endblock %}
