<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <div class="container">
        <h2 class="title">Edit post</h2>
        {% for image_url in existing_image_urls %}
            <img src="{{ image_url }}" alt="Image">
        {% endfor %}
        <form method="post" enctype="multipart/form-data" class="create-post-form">
            {% csrf_token %}
            {{ post_form }}
            {{ image_form }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>
</html>
