<!-- post_list.html -->
{% extends 'home.html' %}

{% block content %}
    <style>
        .post-image-ava {
            width: 30px;
            height: 30px;
        }
    </style>

    <h2 class="subheading">Hot Posts</h2>
    <ul class="post-list">
        {% for post in hot_posts %}
            <li class="post-item">
                <a href="{% url 'post_detail' post_id=post.id %}">
                    <img class="post-image-ava" src="{{ post.image_set.first.image.url }}" alt="{{ post.title }} Image">
                    <span>{{ post.title }} - {{ post.price }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2 class="subheading">Normal Posts</h2>
    <ul class="post-list">
        {% for post in normal_posts %}
            <li class="post-item">
                <a href="{% url 'post_detail' post_id=post.id %}">
                    <img class="post-image-ava" src="{{ post.image_set.first.image.url }}" alt="{{ post.title }} Image">
                    <span>{{ post.title }} - {{ post.price }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
