<!-- post_detail.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="post-detail">
        <img class="post-image" src="{{ post.image_set.first.image.url }}" alt="{{ post.title }} Image">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-price"><strong>Giá (VND):</strong> {{ post.price }}</p>
        <p class="post-area"><strong>Diện tích (m2):</strong> {{ post.area }}</p>
        <p class="post-address"><strong>Địa chỉ:</strong> {{ post.address }}</p>
        <p class="post-created-at"><strong>Ngày đăng:</strong> {{ post.created_at }}</p>
        <p class="post-end-date"><strong>Ngày hết hạn:</strong> {{ post.end_date }}</p>
        <p class="post-description"><strong>Mô tả:</strong> {{ post.description }}</p>
    </div>
    <a href="{% url 'user_detail' user_id=post.user.id %}">
        <div class="post-author-info">
            <p class="post-username"><strong>Người đăng:</strong> {{ post_user.username }}</p>
            <p class="post-phone"><strong>Điện thoại:</strong> {{ post_user.phone_number }}</p>
        </div>
{% endblock %}
