{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}" />
{% endblock extrahead %}

<div id="confirmDeleteModal" class="modal-container">
  <div class="modal modal-confirm">
    <h3 class="modal-title">Xác nhận xóa</h3>
    <p class="modal-desc">Bạn có chắc chắn muốn xóa bài đăng này không?</p>
    <div class="modal-confirm-btn">
      <form action="{% url 'delete_post' post_id=post.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="modal-btn confirm-btn" id="confirmBtn">Xác nhận</button>
        <button type="button" class="modal-btn confirm-btn" id="cancelBtn">Hủy</button>
      </form>
    </div>
  </div>
</div>

{% block extrascripts %}
<script>
  document.getElementById("cancelBtn").onclick = function () {
    document.getElementById("confirmDeleteModal").style.display = "none";
  };

  function confirmDelete(postId) {
    var modal = document.getElementById("confirmDeleteModal");
    modal.style.display = "block";
    modal.dataset.postId = postId;

    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  }
</script>
{% endblock extrascripts %}
