<!-- post_detail.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="post-detail">
        <img class="post-image" src="{{ post_images.0.image.url }}" alt="{{ post.title }} Image">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-price"><strong>Giá (VND):</strong> {{ post.price }}</p>
        <p class="post-area"><strong>Diện tích (m2):</strong> {{ post.area }}</p>
        <p class="post-address"><strong>Địa chỉ:</strong> {{ post.address }}</p>
        <p class="post-created-at"><strong>Ngày đăng:</strong> {{ post.created_at }}</p>
        <p class="post-end-date"><strong>Ngày hết hạn:</strong> {{ post.end_date }}</p>
        <p class="post-description"><strong>Mô tả:</strong> {{ post.description }}</p>
    </div>
    
    <div class="post-author-info">
        <p class="post-username"><strong>Người đăng:</strong> {{ user.name }}</p>
        <p class="post-phone"><strong>Điện thoại:</strong> {{ user.phone_number }}</p>
    </div>

    <div class="user-posts">
        <h3>Danh sách bài viết khác của user.name</h3>
        <ul class="post-list">
            {% for post in user_posts %}
                <li class="post-item">
                    <a href="{% url 'post_detail' post_id=post.id %}">
                        {% if post.image %}
                            <img class="post-image-ava" src="{{ post.image }}" alt="{{ post.title }} Image">
                        {% endif %}
                        <span>{{ post.title }}</span>
                        <span>{{ post.price }}</span>
                        <span>{{ post.area }}</span>
                        <span>{{ post.address }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
