{% load static %}
<li class="item-group">
  <i class="fa-regular fa-heart fa-xl"></i>
  <a class="item-link" href="{% url 'post_detail' post_id=post.id %}">
    {% if post.image %}
      <img
        class="post-image"
        src="{{ post.image }}"
        alt="{{ post.title }} Image"
      />
    {% else %}
      <img
        class="post-image"
        src="{% static 'image_default/img_default.jpg' %}"
        alt="Default Image"
      />
    {% endif %}
    <div class="item-content">
      <span class="title-content">{{ post.title }}</span>
      <span class="badge bg-primary">{{ post.price }} VNĐ</span>
      <span class="address-content" style="display: none" id="address-output">{{ post.address }}</span>
    </div>
  </a>
</li>
