<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
</head>
<body>
    <style>
        .post-image-ava {
            width: 30px;
            height: 30px;
        }
    </style>
    <div class="container">
        <h1 class="title">User Detail</h1>
        <ul class="detail-list">
            <li class="detail-item"><strong class="detail-label">Tên:</strong> {{ user.username }}</li>
            <li class="detail-item"><strong class="detail-label">Số điện thoại:</strong> {{ user.phone_number }}</li>
            <li class="detail-item"><strong class="detail-label">Email:</strong> {{ user.email }}</li>
            <li class="detail-item"><strong class="detail-label">Ngày tham gia:</strong> {{ user.created_at }}</li>
        </ul>
        <ul class="post-list">
            <h3>Các bài viết khác của {{ user.username }}</h3>
            {% for post in user_posts %}
                <li class="post-item">
                    <a href="{% url 'post_detail' post_id=post.id %}">
                        {% if post.image %}
                            <img class="post-image-ava" src="{{ post.image }}" alt="{{ post.title }} Image">
                        {% endif %}
                        <span>{{ post.title }}</span>
                        <span>{{ post.address }}</span>
                        <span>{{ post.area }}</span>
                        <span>{{ post.price }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated and user.id == user.id %}
            <a href="{% url 'update_user' user.id %}" class="update-link">Update</a>
        {% endif %}
    </div>
</body>
</html>
