<!-- home_page.html -->
{% extends 'base.html' %} {% load django_bootstrap5 %} {% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<script src="{% static 'js/slider.js' %}"></script>
{% endblock extrahead %} {% block content %}
<div class="container">
	<div class="slideshow-container">
		<div class="mySlides fade">
			<img
				src="../../media/banners/banner-1.jpg"
				style="width: 100%; height: 500px"
			/>
		</div>

		<div class="mySlides fade">
			<img
				src="../../media/banners/banner-2.jpg"
				style="width: 100%; height: 500px"
			/>
		</div>

		<div class="mySlides fade">
			<img
				src="../../media/banners/banner-3.jpg"
				style="width: 100%; height: 500px"
			/>
		</div>

		<div class="mySlides fade">
			<img
				src="../../media/banners/banner-4.jpg"
				style="width: 100%; height: 500px"
			/>
		</div>

		<div class="mySlides fade">
			<img
				src="../../media/banners/banner-5.jpg"
				style="width: 100%; height: 500px"
			/>
		</div>

		<div class="mySlides fade">
			<img
				src="../../media/banners/banner-6.jpg"
				style="width: 100%; height: 500px"
			/>
		</div>
		<br />

		<div style="text-align: center">
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
		</div>
	</div>

	<div class="header-content">
		<h1 class="content-title">Bất động sản</h1>
		<nav class="content-nav">
			<ul class="nav-list">
				<li>
					<a href="javascript:void(0)" class="nav-item">Nhà trọ</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="nav-item">Căn hộ</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="nav-item">Nhà nguyên căn</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="nav-item">Mặt bằng kinh doanh</a>
				</li>
			</ul>
		</nav>
	</div>

	<span class="main-title">Tin nổi bật</span>
	<ul class="list-group">
		{% for post in hot_posts %}
		<li class="item-group">
			<i class="fa-regular fa-heart fa-xl"></i>
			<a class="item-link" href="{% url 'post_detail' post_id=post.id %}">
				{% if post.image %}
				<img
					class="post-image"
					src="{{ post.image }}"
					alt="{{ post.title }} Image"
				/>
				{% endif %}
				<div class="item-content">
					<span class="title-content">{{ post.title }}</span>
					<span class="badge bg-primary">{{ post.price }} VNĐ</span>
					<span>{{ post.address }}</span>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>

	<span class="main-title">Khác</span>
	<ul class="list-group">
		{% for post in normal_posts %}
		<li class="item-group">
			<i class="fa-regular fa-heart fa-xl"></i>
			<a class="item-link" href="{% url 'post_detail' post_id=post.id %}">
				{% if post.image %}
				<img
					class="post-image"
					src="{{ post.image }}"
					alt="{{ post.title }} Image"
				/>
				{% endif %}
				<div class="item-content">
					<span class="title-content">{{ post.title }}</span>
					<span class="badge bg-primary">{{ post.price }}</span>
					<span class="address-content">{{ post.address }}</span>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
	<button class="list-post-btn">
		<a href="{% url 'list_posts' %}">Xem thêm</a>
	</button>
</div>
{% endblock %}
