<li class="post-item">
  <a href="{% url 'post_detail' post_id=post.id %}">
    {% if post.image %}
      <img
        class="post-image"
        src="{{ post.image }}"
        alt="{{ post.title }} Image"
      />
    {% endif %}
    <div class="post-item-content">
      <span class="title-post">{{ post.title }}</span>
      <span class="price-post">{{ post.price }} VNĐ</span>
      <span class="area-post">{{ post.area }}</span>
      <span class="address-post">{{ post.address }}</span>
    </div>
  </a>
</li>
