{% load static %} {% block extrahead %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}" />
{% endblock extrahead %} {% block content %}

<div id="changePasswordModal" class="modal-container">
  <div class="modal">
    <div class="modal-header">
      <h3 class="modal-title">Đổi mật khẩu</h3>
      <i id="closeBtn" class="close-btn fa-solid fa-xmark"></i>
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_old_password">Mật khẩu cũ:</label>
        {{ form.old_password}}
      </div>
      <div class="form-group">
        <label for="id_new_password1">Mật khẩu mới:</label>
        {{ form.new_password1}}
      </div>
      <div class="form-group">
        <label for="id_new_password2">Nhập lại mật khẩu mới:</label>
        {{ form.new_password2}}
      </div>
      {% if form.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field, errors in form.errors.items %} {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %} {% endfor %}
        </ul>
      </div>
      {% endif %}
      <button type="submit" class="modal-btn">Lưu</button>
    </form>
  </div>
</div>

{% block extrascripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Lấy modal
    var modal = document.getElementById("changePasswordModal");

    // Lấy nút mở modal
    var openModalBtn = document.getElementById("changePasswordBtn");

    // Khi người dùng click vào nút, mở modal
    openModalBtn.onclick = function () {
      modal.style.display = "block";
    };

    // Lấy phần tử đóng modal
    var closeModalBtn = document.getElementById("closeBtn");

    // Khi người dùng click vào nút đóng, đóng modal
    closeModalBtn.onclick = function () {
      modal.style.display = "none";
    };

    // Khi người dùng click bên ngoài modal, đóng modal
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  });
</script>
{% endblock extrascripts %} {% endblock %}
