{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
  <script src="https://cdn.tailwindcss.com"></script>
{% endblock extrahead %}

{% block content %}
<div id="changePasswordModal" class="modal-container">
  <div class="modal">
    <div class="modal-header">
      <h3 class="modal-title">Đổi mật khẩu</h3>
      <i id="closeBtn" class="close-btn fa-solid fa-xmark"></i>
    </div>
    <form
      id="changePasswordForm"
      action="{% url 'change_password' %}"
      method="post"
      style="margin-bottom: 20px"
    >
      {% csrf_token %}
      <div style="display: flex; flex-direction: column" class="form-group">
        <label for="old_password">Mật khẩu cũ:</label>
        <input
          style="border: 1px solid black; border-radius: 5px"
          class="textfiled-authen"
          type="password"
          id="old_password"
          name="old_password"
        />
      </div>
      <div style="display: flex; flex-direction: column" class="form-group">
        <label for="new_password1">Mật khẩu mới:</label>
        <input
          style="border: 1px solid black; border-radius: 5px"
          class="textfiled-authen"
          type="password"
          id="new_password1"
          name="new_password1"
        />
      </div>
      <div style="display: flex; flex-direction: column" class="form-group">
        <label for="new_password2">Nhập lại mật khẩu mới:</label>
        <input
          style="border: 1px solid black; border-radius: 5px"
          class="textfiled-authen"
          type="password"
          id="new_password2"
          name="new_password2"
        />
      </div>
      {% if form.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div
        id="form-errors"
        class="alert alert-danger"
        style="display: none"
      ></div>
      <div>
        <button type="submit" class="modal-btn">Lưu</button>
      </div>
    </form>
  </div>
</div>

{% block extrascripts %}
  <script src="{% static 'js/change_password.js' %}"></script>
{% endblock extrascripts %}

{% endblock %}
