.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: #7b7a7a;
}

.pagination-link {
  text-decoration: none;
}

.pagination-box:hover {
  background-color: #ccc;
}

.pagination-box.current {
  font-weight: bold;
}

.pagination-box.disabled {
  background-color: #ccc;
  cursor: default;
}
